
*{
    padding: 0;
    margin: 0;
}

p{
    margin-top: 40px;
    font-weight: bold;
    
}

button{
    font-size: 20px;
    background-color: rgb(26, 188, 26);
    color: azure;
    border-radius: 20px;
    margin: 20%;
    margin-bottom: 30%;
    
}

nav.navbar{
    margin-left: 92%;
    font-size: 30px;
}

ul,li,h1{
    display: inline;
}

h1.one{
    display: block;
}

.header{
    margin-left: 70%;
}

p {
    line-height: 20px;
 }

 .mainpnav {
    text-align: center;
    align-items: center;
    height: 130px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: grey;
   
}

.one{
    margin-top: 190px;
}
.header{
    font-size: 1.1em;
    color: #fff;
    user-select: none;
    font-style: verdana;
    text-decoration: none;
    font-weight: 500;
    /* margin-left: 20px; */
    

}
a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
    font-weight: bold;
}


